* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #contenedor {
    max-width: 650px;
    min-height: 800px;
    margin: auto;
    background: rgb(212, 210, 202);
  
    /*  flex     */
    display: flex;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
    height: 10%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  } /*
  header h1 {
      margin: auto;
  } */
  main {
    width: 100%;
    height: 65%;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  main section {
    width: 70%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
  }
  section {
    display: flex;
  }
  
  section h3 {
    margin-left: 15px;
    margin-top: 15px;
  }
  section p {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
  section ul {
    margin-left: 25px;
  }
  main aside {
    width: 30%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    flex: 0;
    margin-left: 5px;
  }
  aside .imagen {
    height: 40%;
    display: flex;
  }
  aside .imagen img {
    width: 150px;
    border: black solid 2.5px;
    margin-top: 10px;
    border-radius: 50%;
    flex: 0.5 0.5;
    
  }
  aside .encabezado {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 20px;
    font-size: 18px;
    margin-left: 30px;
  }
  
  footer {
    width: 100%;
    height: 20%;
  
    display: flex;
    justify-content: space-between;
  }
  footer .objetivo {
    display: flex;
    width: 50%;
  
    flex-direction: column;
    margin: 10px;
  }
  footer .objetivo h2 {
    text-decoration: underline;
  }
  
  footer .contacto {
    display: flex;
    width: 50%;
  
    flex-direction: column;
  }
  footer .contacto img {
    width: 30px;
  }
  footer .contacto .whatsup {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .contacto .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .contacto .direccion {
    display: flex;
    flex-direction: row;
    align-items: center;
  }