

       #spanId {font-size: 18px;
                margin: 50px; }
       #thirdDiv { 
                  width: 500px ;
                  height: 700px ;
                  background-color: rgb(118, 177, 207);
                  padding: 50px;
                  border-style: solid; 
                  border-color: orange; }
       .divclass { color: darkolivegreen;}
       h1 {color: crimson; }
       img {width: 400px ;}  
      
      
  